root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.git/**]
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset

[*.{yaml,yml}]
indent_size = 2
indent_style = space

[*.json]
indent_size = 4
indent_style = space

[*.sh]
indent_size = 4
indent_style = space
